<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/resources/icons/avocado.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="/resources/css/autils.css"> <!-- Link to the external CSS file -->
    <title>Autils</title>
</head>
<body>

    <header>
        <div class="left-header">
            <a href="/">
                <img src="/resources/logo/PNGs/full-colour.png" alt="Avocado Logo">
            </a>
            <h1 class="header-avocado">
                <a href="/">Avocado</a>
            </h1>
        </div>
        <div class="right-header">
            <a href="https://github.com/avocado-framework/avocado/issues/new?assignees=&labels=bug&projects=&template=bug_report.md&title=">Report a bug</a>
            <a href="https://www.redhat.com/mailman/listinfo/avocado-devel">Mailing list</a>
            <a href="https://github.com/avocado-framework">
                <img src="/resources/icons/github.svg" alt="GitHub">
            </a>
        </div>
    </header>

    <div class="subheader">
        <div class="sub-logo-title">
            <img src="/resources/icons/computer.svg" alt="Avocado-framework logo">
            <h1 class="sub-avocado">Autils</h1>
        </div>
    </div>

    <div class="maintable">
        <main class="table" id="customers_table">
            <section class="table__header">
                <h1>Utility Libraries</h1>
                <div class="input-group">
                    <input type="search" placeholder="Search Data...">
                    <img src="/resources/images/search.png" alt="">
                </div>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th> Name <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Description <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Category <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Maintainer <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Supported Platforms <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Tests <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Remote <span class="icon-arrow">&UpArrow;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:crosa@redhat.com"><img src="/resources/images/cleber.jpg" alt=""> Cleber Rosa </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:jarichte@redhat.com "><img src="/resources/images/jrichter.jpg" alt=""> Jan Richter </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:hlynden@redhat.com "><img src="/resources/images/harvey.jpg" alt=""> Harvey Lynden </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:crosa@redhat.com"><img src="/resources/images/cleber.jpg" alt=""> Cleber Rosa </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:jarichte@redhat.com "><img src="/resources/images/jrichter.jpg" alt=""> Jan Richter </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:hlynden@redhat.com "><img src="/resources/images/harvey.jpg" alt=""> Harvey Lynden </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:crosa@redhat.com"><img src="/resources/images/cleber.jpg" alt=""> Cleber Rosa </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:jarichte@redhat.com "><img src="/resources/images/jrichter.jpg" alt=""> Jan Richter </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                                <br>
                                <p class="os centos">CentOS 9</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:hlynden@redhat.com "><img src="/resources/images/harvey.jpg" alt=""> Harvey Lynden </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:crosa@redhat.com"><img src="/resources/images/cleber.jpg" alt=""> Cleber Rosa </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                                <br>
                                <p class="os centos">CentOS 9</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:jarichte@redhat.com "><img src="/resources/images/jrichter.jpg" alt=""> Jan Richter </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:hlynden@redhat.com "><img src="/resources/images/harvey.jpg" alt=""> Harvey Lynden </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                                <br>
                                <p class="os centos">CentOS 9</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                        <tr>
                            <td> AR </td>
                            <td>Module to read UNIX ar files</td>
                            <td> OS - FILES </td>
                            <td><a href="mailto:hlynden@redhat.com "><img src="/resources/images/harvey.jpg" alt=""> Harvey Lynden </a></td> <!-- Updated image -->
                            <td>
                                <p class="os fedora">Fedora 40</p>
                                <br>
                                <p class="os fedora">Fedora 38</p>
                            </td>
                            <td> <strong>tests/autils/archive/ar.py</strong> </td>
                            <td>false</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
        <script src="/resources/js/autils.js"></script>
    
    </div>

    
<footer>
    <div class="footer-header">Contact</div>
    <div class="footer-text">
        <a href="https://www.redhat.com/mailman/listinfo/avocado-devel">
            <img src="/resources/icons/mail.svg" alt="Mail Icon">
            Mailing List
        </a>
    </div>
    <div class="footer-text">
        <a href="https://github.com/avocado-framework/avocado/issues/new?assignees=&labels=bug&projects=&template=bug_report.md&title=">
            <img src="/resources/icons/bug.svg" alt="Bug Icon">
            Report a Bug
        </a>
    </div>
    <div class="footer-text">
        <a href="https://avocado-framework.readthedocs.io/en/latest/">
            <img src="/resources/icons/documentation.svg" alt="Doc Icon">
            Documentation
        </a>
    </div>
    <div class="footer-copyright">Copyright © 2024 Red Hat Inc. and Avocado Community Contributors</div>
</footer>

</body>
</html>
